body, header, p, a, span, b, h1, h2, h3, h4, h5, h6, div, nav, li {
  font-family: 'Montserrat', sans-serif !important;
}
body, p, span, a, b, li {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6em;
  word-break: break-word;
  text-rendering: optimizeLegibility;
}
a {
  font-size: 1rem;
}
h1, h1 a, h1 span {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.6em;
  word-break: break-word;
}
h2, h2 a {
  font-weight: 500;
  font-size: 1.35rem;
  line-height: 1.5em;
  color:#153D8A;
}

.incicolor {
  color:#153D8A;
}

.bg-inci {
  background-color: #153D8A;
}

.bg-headcard {
  background-color: black;
}